---
layout: page
title: About Unisys12
header: A Little About Me
group: navigation
---

<article class="about_panel">
  <h2>Video Games</h2>
  <p>
    My wife of 20 some odd years and I have played video games off and on our entire lives. Video games were always a way for us   to have fun with others and provide ourselves with entertainment when we were by ourselves. It was not until I played through
    Final Fantasy X that I realized that video games could have as much story in them as a book or movie. Then there was the Halo 4 playthrough I did with my oldest daughter. Yes! We still play together as much as possible. That weekend changed me forever. It was the first time I played a "first person shooter", co-op, without blindly running around killing things for the sake of killing. There was a despite purpose to it all and the story captured me immensely. From there, I moved on to other games, such as Skyrim and Destiny. Today, I mainly play Destiny with my wife and the gaggle of friends I have made on Xbox Live and through the gaming communities I participate in. Then there's Path of Exile. Oh PoE, how you have your claws in my keyboard.
  </p>
  <p>
    I am heavily involved within the Destiny Lore Community as well as an engineer on a Destiny Lore web project by the name of
    <a href="https://www.ishtar-collective.net">Ishtar-Collective</a>. At Ishtar, we have a team of volunteers that categorize the in-game and out-of-game lore surrounding the game of Destiny. Although I do not play a role in that aspect of the project, I do get to play around in the very large Ruby on Rails instance that makes up the site.</p>
  <h2>Web Development</h2>
  <p>
    I have pursued web development, as a hobby, off and on for 20 years. If we were to not count the off periods, I would say      that it's more around 13-15 years. If I had to guess, it was sometime between 1998 or 1999 that my wife and I bought our       first computer. After we called our local ISP and got on the internet for the first time is when the web bug took hold of me.
    To this day, I still remember the first web site I saw. It was our ISP's homepage. I was in awe of it all. And seeing all the links that made up Yahoo's homepage, at that time, left we wondering how it all worked. Hence forth, I've used the very tool that I've worked so hard to master all these years as a way to gain a better understanding of it.
  </p>
  <p>
    Although I feel out of web development for a period of a few years, what drew me back in was the need to solve a problem at the small company I work for. Jumping back in was a very long journey that lasted about 3 months. In that time, I had to relearn the basics of HTML, CSS and how people deployed websites at that point. For this project, I originally thought that Java would be the best fit of the job, so I set out to learn Java. Although I was able to create the project in Java, I hated the process and thought that it was overly complicated. This had nothing to do with Java, per say. It was the wrong fit for the job. And that was a very rewarding experience for me. I ended up building the project in PHP, which fit way better. Bear in mind... I had to learn that too.
  </p>
  <h2>Purpose</h2>
  <p>
    The purpose of this blog is to document my experiences in learning web development. I am so privileged to have been welcomed as a part of the gaming communities that I am working with. Through these communities, I've been able to work on and create everything from Discord bots using JavaScript with Laravel backends to help contribute to the huge Ruby on Rails project that is Ishtar-Collective. I would like to document/outline the creation of future projects or review older ones. My older projects would be great studies in code refactoring, so that's on the table for sure. Not everything will be blogged here, of course. But the things that I can or feel it would make for a good learning experience for others, this will be the place for me to share that knowledge/experience with others.
  </p>
</article>